<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Message</title>
        <link rel="stylesheet" href="/static/message.css">
    </head>
    <body>
        <nav>
            <div class="conatiner-nav">
                <div class="left-nav">
                    <a id="logo" href="{{ url_for('home') }}"><img src="/static/images/LogoWhiteVersion.png" alt=""></div><a>
                </div>
                <div class="right-nav">
                    <ul>
                        <li><a href="{{ url_for('dashboard') }}"><img src="/static/icon/dashboard.png" alt=""></a></li>
                        <li><a href="{{ url_for('msg') }}"><img src="/static/icon/message.png" alt=""></a></li>
                        <li><a href="{{ url_for('logout') }}" ><img src="/static/icon/LOGOUT.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!----------------------------------------------------->

        
        
        <main>
            <div class="main-container">
                <div class="name-groupe">
                    <h1>Stay In Touch</h1>
                    <h1>Ewa School</h1>
                </div>

                <div id="myDiv" class="message-border">
                    <!----->
                    {%for post in posts%}

                    
                    <div class="message-row">
                            <div class="row-container">

                                {% for user in users %}

                                    {%if (user.name == post.author) and (user.gender == "Female") %}
                                        <img src="/static/images/profile.png" alt="">

                                    {% elif ((user.name == post.author) and (user.gender == "Male"))%}    
                                        <img src="/static/images/poafile1.png" alt="">
                                    
                                    {% endif %}
                                {% endfor%}

                                <div class="name-content">
                                    <h3>{{post.author}}</h3>
                                    <p>{{post.content}}</p>
                                </div>
                            </div>
                    </div>
                    {% endfor%}

                    <form action="" method="POST">
                        <input type="text" name="message" placeholder="Type votre message:" id="">
                        <input type="submit" value="Send >">
                    </form>
                </div>


            </div>
        </main>
    

        
<!----------------------------------------------------->

        <footer>
            <div class="container-footer">
                <div class="left-container">
                    <div>
                        <h3>Stay</h3>
                        <h3>In Touch</h3>
                    </div>
                    <div class="icons">
                        <img src="/static/icon/Facebook_Rounded_icon-icons.com_61578 2.png" alt="">
                        <img src="/static/icon/google_icon-icons.com_62736 1.png" alt="">
                        <img src="/static/icon/Twitter_Rounded_icon-icons.com_61577 (1) 2.png" alt="">
                        <img src="/static/icon/google_icon-icons.com_62736 1.png" alt="">
                        <img src="/static/icon/Facebook_Rounded_icon-icons.com_61578 2.png" alt="">
                    </div>
                </div>
                <img class="logo-footer" src="/static/icon/Group 36.png" alt="">

            </div>
        </footer>








        <script type="text/javascript">
            //scroll to the bottom of "#myDiv"
            var myDiv = document.getElementById("myDiv");
            myDiv.scrollTop = myDiv.scrollHeight;
        </script>


    </body>
</html>